.sp-c-masonry {
  display: grid;
  grid-gap: 16px;

  @media (--mq-s) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .js & {
    @media (--mq-s) {
      grid-auto-rows: 0;
    }
  }

  &__item {
    .js & {
      /* background-color: var(--color-white); */
    }
  }
}
