.sp-c-masonry {
  display: grid;
  grid-gap: 16px;

  @media (--mq-s) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  &.is-active {
    @media (--mq-s) {
      grid-auto-rows: 0;
    }
  }
}
